#endText {
  color: #ff1c3e;
  font-size: 7.75vh;
  font-family: Arial;
  margin: 0px 0px;
  display: inline-block;
  font-weight: bold;
  margin-left: 5px;
  cursor: default;
}
#time {
  color: #ff1c3e;
  font-size: 7.75vh;
  font-family: Arial;
  margin: 0px 0px;
  display: inline-block;
  font-weight: bold;
  margin-left: 5px;
  cursor: default;
}


#firstEndText {
  color: white;
  font-size: 7.75vh;
  font-family: Arial;
  margin: 0px 0px;
  display: inline-block;
  font-weight: bold;
  margin-left: 5px;
  cursor: default;
}
#secondEndText,
#thirdEndText,
#fourthEndText,
#newEndText,
#fifthEnd,
#sixthEnd,
#seventhEnd,
#eighthEndText {
  color: white;
  font-size: 7.75vh;
  font-family: Arial;
  margin: 0px 0px;
  display: inline-block;
  font-weight: bold;
  margin-left: 5px;
  cursor: default;
}


#firstEnd,
#secondEnd,
#thirdEnd,
#fourthEnd,
#eighthEnd,
#newEnd {
  
  color: white;
  font-size: 7.75vh;
  font-family: Arial;
  margin: 0px 0px;
  display: inline-block;
  font-weight: bold;
  margin-left: 5px;
  cursor: default;
  
}


#fifthEndText,
#sixthEndText,
#seventhEndText {
  
  
  color: white;
  font-size: 7.32vh;
  font-family: Arial;
  margin: 0px 0px;
  display: inline-block;
  font-weight: bold;
  margin-left: 5px;
  cursor: default;
  
}



#title {
  color: #db3d3d;
  font-size: 30px;
  font-family: Trebuchet MS;
  font-weight: Bold;
  float: right;
  top: -30;
  position: relative;
}
